<a href="https://colab.research.google.com/github/pavss/pavithra/blob/main/02_data_analysis_with_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
def movies(val1,val2):
  return val1+val2

In [6]:
movies(1,5)

6

In [7]:
movies("The","Monster")

'TheMonster'

In [20]:
movies("The",'6')

'The6'

In [10]:
fl = open('blah.txt', 'wt')
fl.write(movies("The","Monster"))
fl.close()

**List**

In [22]:
list1 = [860, 4560.112, 'hello everyone','am good', True]
list1

[860, 4560.112, 'hello everyone', 'am good', True]

In [23]:
list1[1]

4560.112

In [25]:
list1[-1]

True

In [26]:
list2 = ['my', 'world', list1]
list2

['my', 'world', [860, 4560.112, 'hello everyone', 'am good', True]]

In [27]:
mylist = [1,4,4,5,'arnav',34345, True, 'movie']
set1 = set(mylist)
set1

{1, 34345, 4, 5, 'arnav', 'movie'}

**Tuple**

In [33]:
mytuple = ("Samsung", "Apple", "Nokia", "Redmi")
print(mytuple)

('Samsung', 'Apple', 'Nokia', 'Redmi')

In [34]:
mytuple = (2,2,2,4,2,3,5,6,12,7,3,2,2,8,10,3)
x = mytuple.count(3)
print(x)

3

In [35]:
x = mytuple.index(12)
print(x)

8

**Dictionary**

In [36]:
mydict = {"name":"Pavi", "Birth date":"1999","Place":"Kerala"} 
for k,v in mydict.items():
  print("key = ", k, end=",")
  print(" value = ", v)

key =  name, value =  Pavi
key =  Birth date, value =  1999
key =  Place, value =  Kerala

In [37]:
x = mydict.get("Place")
print(x)

Kerala

In [38]:
mydict = {"name":"Pavi","age":"22", "place":"Kerala"}
bio = mydict.items()
print(bio)

dict_items([('name', 'Pavi'), ('age', '22'), ('place', 'Kerala')])

**Sets**

In [39]:
myset = {"Mary", "Ben", "Isabel", "Bobby"}
print(myset)

{'Mary', 'Bobby', 'Ben', 'Isabel'}

In [40]:
x = {1,2,3}
y = {4,5,3,7}
z = x.union(y)
print(z)

{1, 2, 3, 4, 5, 7}

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [41]:
%matplotlib inline

In [45]:
!wget https://raw.githubusercontent.com/a-forty-two/CGI-DPplusPy/main/breastcancer_data.csv

--2022-09-07 09:55:08--  https://raw.githubusercontent.com/a-forty-two/CGI-DPplusPy/main/breastcancer_data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.108.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 80005 (78K) [text/plain]
Saving to: ‘breastcancer_data.csv.1’

breastcancer_data.c 100%[===================>]  78.13K  --.-KB/s    in 0.01s

2022-09-07 09:55:08 (5.74 MB/s) - ‘breastcancer_data.csv.1’ saved [80005/80005]

In [48]:
data.head()

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,symmetry_mean,fractal_dimension_mean
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.2419,0.07871
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.1812,0.05667
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.2069,0.05999
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.2597,0.09744
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.1809,0.05883

In [49]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1138 entries, 0 to 1137
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      1138 non-null   int64
 1   diagnosis               1138 non-null   object
 2   radius_mean             1138 non-null   float64
 3   texture_mean            1138 non-null   float64
 4   perimeter_mean          1138 non-null   float64
 5   area_mean               1138 non-null   float64
 6   smoothness_mean         1138 non-null   float64
 7   compactness_mean        1138 non-null   float64
 8   concavity_mean          1138 non-null   float64
 9   symmetry_mean           1138 non-null   float64
 10  fractal_dimension_mean  1138 non-null   float64
dtypes: float64(9), int64(1), object(1)
memory usage: 97.9+ KB

In [50]:
data.shape

(1138, 11)

In [51]:
data.columns

Index(['id', 'diagnosis', 'radius_mean', 'texture_mean', 'perimeter_mean',
       'area_mean', 'smoothness_mean', 'compactness_mean', 'concavity_mean',
       'symmetry_mean', 'fractal_dimension_mean'],
      dtype='object')

In [52]:
data.isna().sum()

id                        0
diagnosis                 0
radius_mean               0
texture_mean              0
perimeter_mean            0
area_mean                 0
smoothness_mean           0
compactness_mean          0
concavity_mean            0
symmetry_mean             0
fractal_dimension_mean    0
dtype: int64

In [53]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
id,1138.0,1.523243e+07,8.965268e+07,8670.00000,92995.25000,93279.50000,906012.50000,9.113205e+08
radius_mean,1138.0,1.412729e+01,3.522499e+00,6.98100,11.70000,13.37000,15.78000,2.811000e+01
texture_mean,1138.0,1.928965e+01,4.299144e+00,9.71000,16.17000,18.84000,21.80000,3.928000e+01
perimeter_mean,1138.0,9.196903e+01,2.428829e+01,43.79000,75.17000,86.24000,104.10000,1.885000e+02
area_mean,1138.0,6.548891e+02,3.517593e+02,143.50000,420.30000,551.10000,782.70000,2.501000e+03
smoothness_mean,1138.0,9.636028e-02,1.405794e-02,0.05263,0.08637,0.09587,0.10530,1.634000e-01
compactness_mean,1138.0,1.043410e-01,5.278953e-02,0.01938,0.06492,0.09263,0.13040,3.454000e-01
concavity_mean,1138.0,8.879932e-02,7.968474e-02,0.00000,0.02956,0.06154,0.13070,4.268000e-01
symmetry_mean,1138.0,1.811619e-01,2.740222e-02,0.10600,0.16190,0.17920,0.19570,3.040000e-01
fractal_dimension_mean,1138.0,6.279761e-02,7.057257e-03,0.04996,0.05770,0.06154,0.06612,9.744000e-02

In [56]:
data.corr()

,id,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,symmetry_mean,fractal_dimension_mean
id,1.000000,0.052010,0.069534,0.050988,0.067529,-0.009038,0.000067,0.034903,-0.015412,-0.036598
radius_mean,0.052010,1.000000,0.323782,0.997855,0.987357,0.170581,0.506124,0.676764,0.147741,-0.311631
texture_mean,0.069534,0.323782,1.000000,0.329533,0.321086,-0.023389,0.236702,0.302418,0.071401,-0.076437
perimeter_mean,0.050988,0.997855,0.329533,1.000000,0.986507,0.207278,0.556936,0.716136,0.183027,-0.261477
area_mean,0.067529,0.987357,0.321086,0.986507,1.000000,0.177028,0.498502,0.685983,0.151293,-0.283110
smoothness_mean,-0.009038,0.170581,-0.023389,0.207278,0.177028,1.000000,0.659123,0.521984,0.557775,0.584792
compactness_mean,0.000067,0.506124,0.236702,0.556936,0.498502,0.659123,1.000000,0.883121,0.602641,0.565369
concavity_mean,0.034903,0.676764,0.302418,0.716136,0.685983,0.521984,0.883121,1.000000,0.500667,0.336783
symmetry_mean,-0.015412,0.147741,0.071401,0.183027,0.151293,0.557775,0.602641,0.500667,1.000000,0.479921
fractal_dimension_mean,-0.036598,-0.311631,-0.076437,-0.261477,-0.283110,0.584792,0.565369,0.336783,0.479921,1.000000

In [58]:
import io
 
data= pd.read_csv(io.BytesIO(uploaded['']))
data.head(5)

NameError: ignored